<!DOCTYPE html>

<md-toolbar class="icar-toolbar">
    <div class="md-toolbar-tools icar-toolbar-tools" layout-align="start center" flex>

        <div layout="row" layout-align="start center" flex="20">
            <md-button class="md-icon-button" aria-label="Icon" ng-click="vm.toggleLeftnav()">
                <md-tooltip>Left menu</md-tooltip>
                <md-icon md-font-library="material-icons">dehaze</md-icon>
            </md-button>
            <h2>
                <span>Logo</span>
            </h2>
        </div>

        <div id="centernav2" flex="70" style="padding-right:10px; padding-left:10px" layout="row"
             layout-align="space-around center">
            <div>
                <input type="text" size="50" placeholder="Search">
                <md-button class="md-raised" aria-label="Search"> Search</md-button>
            </div>
            <div layout="row" layout-align="end center">

                <a ui-sref="home.dashboard">
                    <md-button class="md-raised" aria-label="Dashboard">Dashboard</md-button>
                </a>
                <a ui-sref="home.management">
                    <md-button class="md-raised" aria-label="Management">Management</md-button>
                </a>
                <a ui-sref="home.reports">
                    <md-button class="md-raised" aria-label="Reports">Reports</md-button>
                </a>

            </div>
        </div>
        <!--<span flex></span>-->
        <div layout="row" layout-align="end center" flex="10">
            <md-button class="md-icon-button" aria-label="notifications" ng-click="vm.toggleRightSidebar()">
                <md-tooltip>Alerts</md-tooltip>
                <md-icon md-font-library="material-icons">notifications</md-icon>

            </md-button>
            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>User</md-tooltip>
                <md-icon md-font-library="material-icons">face</md-icon>
            </md-button>
        </div>

    </div>
</md-toolbar>
