<!DOCTYPE html>

<md-toolbar class="icar-toolbar">
    <div class="md-toolbar-tools icar-toolbar-tools" layout-align="start center" flex>

        <div layout="row" layout-align="start center" flex="20">
            <md-button class="md-icon-button" aria-label="Icon" ng-click="vm.toggleLeftnav()">
                <md-tooltip>Left menu</md-tooltip>
                <md-icon md-font-library="material-icons">dehaze</md-icon>
            </md-button>
            <h2>
                <span>Logo</span>
            </h2>
        </div>

        <div id="centernav2" flex="70" style="padding-right:10px; padding-left:10px" layout="row"
             layout-align="space-around center">

            <!--<md-input-container md-no-float class="md-accent" flex="50">-->
                <!--<md-icon style="color:#FFF" class="material-icons">&#xE8B6;</md-icon>-->
                <!--<input ng-model="searchInput" placeholder="Search here" style="color:#FFF;">-->
            <!--</md-input-container>-->

            <div layout="row">
                <a ui-sref="home.dashboard" class="M9kDrd xyzabc">Dashboard</a>
                <a ui-sref="home.management" class="M9kDrd xyzabc">Management</a>
                <a ui-sref="home.reports" class="M9kDrd xyzabc">Reports</a>
            </div>


            <div layout="row" layout-align="end center">



            </div>
        </div>
        <!--<span flex></span>-->
        <div layout="row" layout-align="end center" flex="10">
            <md-button class="md-icon-button" aria-label="notifications" ng-click="vm.toggleRightSidebar()">
                <md-tooltip>Alerts</md-tooltip>
                <md-icon md-font-library="material-icons">notifications</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="User">
                <md-tooltip>User</md-tooltip>
                <md-icon md-font-library="material-icons">face</md-icon>
            </md-button>
        </div>

    </div>
</md-toolbar>