<!DOCTYPE html>


<div layout="column" class="demo" >


    <!--<md-toolbar>-->
        <!--<h2 class="md-toolbar-tools">-->
            <!--<span>Settings</span>-->
        <!--</h2>-->
    <!--</md-toolbar>-->

    <!--<md-tabs md-stretch-tabs md-selected="selectedIndex">-->
        <!--&lt;!&ndash;<md-tab md-on-select="$state.transitionTo(home.management.vehicle, params1)"><md-tab-label>Label1</md-tab-label></md-tab>&ndash;&gt;-->
        <!--&lt;!&ndash;<md-tab ui-sref="home.management.vehicle" label="vehicle"></md-tab>&ndash;&gt;-->
        <!--<md-tab>-->
            <!--<md-tab-label><span ui-sref="home.management.vehicle">vehicle</span></md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab>-->
            <!--<md-tab-label><span ui-sref="home.management.group">group</span></md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab>-->
            <!--<md-tab-label><span ui-sref="home.management.user">user</span></md-tab-label>-->
        <!--</md-tab>-->
    <!--</md-tabs>-->

    <!--<md-tabs>-->
        <!--<md-tab md-on-select="transitionTo('home.management.vehicle')">-->
            <!--<md-tab-label>Vehicle</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab md-on-select="transitionTo('home.management.group')">-->
            <!--<md-tab-label>Group</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab md-on-select="transitionTo('home.management.user')">-->
            <!--<md-tab-label>User</md-tab-label>-->
        <!--</md-tab>-->
    <!--</md-tabs>-->

    <md-tabs md-selected="vm.selectedTab">
        <md-tab ng-click="vm.tabClick(assetType)" ng-repeat="assetType in vm.tabs">
            <md-tab-label>{{assetType}}</md-tab-label>
        </md-tab>
    </md-tabs>

    <div id="mytabcontent" ui-view="mgmttab" flex></div>



    <!--<div class="row">-->
        <!--<div class="col s12">-->
            <!--<ul class="tabs">-->
                <!--<li class="tab col s3" ng-click="vm.tabClick(assetType)"-->
                    <!--ng-repeat="assetType in vm.tabs track by $index">-->
                    <!--<a href="#mytabcontent" ng-class="{true: 'active', false:'inactive'}[vm.selectedTab == $index]">-->
                        <!--{{assetType}}-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--{{vm.selectedTab}}-->
        <!--<div id="mytabcontent" class="col s12" ui-view="mgmttab" flex>Test 1</div>-->
    <!--</div>-->


</div>


<script>
    $(document).ready(function(){


    })
</script>
