<!--<md-tab-body >-->
<style>
    .error-msg {
        color: #f00;
        font-size: 12px;
        min-height: 20px;
    }

    table.geo-table thead tr{
        padding:0;
        height:35px;
    }

    .google-visualization-table-tr-sel{
        background: red !important;
    }
    .alarm-cont .geoc-body{top:50px}
    #DataTables_Table_0_filter, .dataTables_filter{top:-15px !important;}

    md-checkbox{
        position:relative !important;
        left:0 !important;
        opacity: 1 !important;
    }

    md-list-item.md-2-line, md-list-item.md-2-line > .md-no-style{
        height:30px !important;
        min-height:30px !important;
    }

    .latlng:hover{cursor:pointer;}
</style>

<div class="alarm-cont" >
    <div class="geoc-head">

        <span class="error-msg">{{vm.alarms.msg}}</span><br/>

        <div layout="row" layout-align="space-around center">
            <div layout="row" class="input-fields" layout-align="space-around center" flex>

                <div class="geo-mul-back" ng-show="vm.currPop" ng-click="vm.currPop = null"></div>
                <md-input-container class="container-margin geo-multiSel">
                    <label>Vehicle Name ({{vm.alarms.selectedVehiclesCount}})</label>
                    <input type="text" ng-focus="vm.currPop = 'vehiclePop'"
                           placeholder="Search Vehicle"
                           ng-model="vm.alarms.vehicleFilterPattern"
                           ng-change="vm.filterVehicles()"
                    >
                    <div class="geo-ms-cont" ng-show="vm.currPop == 'vehiclePop'">
                        <md-list>
                            <md-list-item class="md-2-line"
                                          ng-repeat="item in vm.alarms.filteredVehicles ">
                                <md-checkbox ng-model="item.checked" aria-label="myvehicles"
                                             ng-change="vm.verifyCheckStatus('vehicle')">
                                </md-checkbox>
                                <div class="md-list-item-text">
                                    <h3>{{item.vehicleno}}</h3>
                                </div>
                            </md-list-item>
                        </md-list>
                        <div class="geo-ms-controls">
                            <md-checkbox ng-model="vm.selectAllVehicles" aria-label="all"
                                         ng-change="vm.selectAll('vehicle')">All</md-checkbox>
                            <md-checkbox ng-model="vm.deSelectAllVehicles" aria-label="None"
                                         ng-change="vm.deSelectAll('vehicle')">None</md-checkbox>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="container-margin">
                    <label>Start Time</label>
                    <input type="text" id="start_time" ng-model="vm.alarms.startTime">
                </md-input-container>

                <md-input-container class="container-margin">
                    <label>End Time</label>
                    <input type="text" id="end_time" ng-model="vm.alarms.endTime">
                </md-input-container>
                <md-button class="md-accent" ng-click="vm.getHistory()">Get Report</md-button>

                <md-button class="md-fab md-mini my-tooltip pops"
                           ng-disabled="vm.alarms.loadingAlarmData" ng-click="vm.downloadFile()">
                    <md-icon md-font-library="material-icons">file_download</md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="end start">
            </div>
        </div>
    </div>

    <div class="progress" ng-if="vm.alarms.loadingAlarmData">
        <div class="indeterminate"></div>
    </div>


    <div class="geoc-body">

        <!--<div layout="row" layout-sm="column" layout-align="space-around"-->
             <!--ng-show="">-->
            <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
        <!--</div>-->


        <div ng-hide="vm.alarms.loadingAlarmData" style="width: 100%; height: 100%;">
            <table datatable="ng"  dt-options="vm.dtOptions"
                   class="row-border hover"width="100%"   ng-cloak>
                <thead>
                <tr>
                    <th>Vehicle No</th>
                    <th>Time</th>
                    <th>Reason</th>
                    <th>Speed</th>
                    <th>Opperation Mode</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="report in vm.alarms.alarmResponseData track by $index">
                    <td>{{report.vehicleno}}</td>
                    <td>{{report.gpstime | date : 'd MMM, h:mm a'}}</td>
                    <td>{{report.alarmreason}}</td>
                    <td>{{report.speed}}</td>
                    <td>{{report.opermode}}</td>
                    <td>
                        <span class="latlng loc{{$index}}"
                              ng-mouseover="vm.getAddress(report.lat, report.lng, $index)"
                              data-content='Fetching Address'>{{report.lat }},{{report.lng }}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!--<span ng-show="vm.dataFound">No Data Found</span>-->
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#start_time').datetimepicker({
            mask: '9999-19-39 29:59',
            format: 'Y-m-d H:i'
        });

        $('#end_time').datetimepicker({
            mask: '9999/19/39 29:59',
            format: 'Y-m-d H:i'
        });
    });
</script>
