<!--<md-tab-body>-->

<style>

    md-toolbar {
        min-height: 20px;
    }

    .map-dialog {
        padding: 0 !important
    }

    .map-dialog-content {
        overflow: hidden;
    }

    /*.input-fields {*/
    /*margin-top: -5px;*/
    /*}*/

    .error-msg {
        color: #f00;
        font-size: 12px;
        min-height: 20px;
    }

    md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
        background: #d1e934;
    }

    .play-pause-btns {
        background: #d1e934 !important;
    }

    .container-margin{margin-bottom: 0; padding:0; height:31px}

    .btn {
        background-color: #d1e934;
        border: none;
        color: white;
        padding: 18px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        /* border-radius: 100%; */
        width: 10px;
        box-shadow: 1px 1px 8px 0px #FFF;
        height: 10px;
    }

    .btn-img {
        background: url('assets/images/play.png') no-repeat;
        width: 13px;
    }

    .btn:hover {
        cursor: pointer;
    }

    .history-dialog .angular-google-map-container {
        position: absolute;
        left:0;
        bottom:0;
        top:72px;
        right:0;
        width:100%;
    }

    .md-button{
        margin:6px 1px;
    }

    .md-button.md-fab.md-mini{
        line-height:37px;
        width:34px;
        height:36px;
    }

    .icon-font {
        font-size: 19px;
    }

    .control-panel {
        width:85%;
    }
    .icar-slider .md-sign{
        display:none;
    }

    .marker-details {
        background: rgba(163, 204, 255, 0.7);
        position: absolute;
        top: -50px;
        font-size: 12px;
    }
    .lefttoolbar {
        background: rgba(163, 204, 255, 0.7) !important;
    }

</style>

<script type="text/ng-template" id="historyInfoWindow.html">
    <div style="width:230px; height:62px; max-width:230px; min-width:230px; overflow:hidden; padding-top:5px;">
        <table>
            <tr>
                <td><strong>End Time: </strong></td>
                <td>{{parameter.data.gpstime | date : 'dd MMM yyyy - h:mm:ss a'}}</td>
            </tr>
            <tr>
                <td style="padding-right:5px;"><strong>Odometer: </strong></td>
                <td>{{parameter.data.odometer}} km</td>
            </tr>
            <tr>
                <td><strong>Speed: </strong></td>
                <td>{{parameter.data.speed}} kmph</td>
            </tr>
        </table>
    </div>
</script>

<div class="lefttoolbar" ng-controller="GeofenceViewController as vm">
    <div class="ltb_item" ng-if="item.historymap" ng-repeat="item in vm.leftTB"
         ng-class="{'ltb_item-line':item.type == 'line','active': vm.fencesActive()}">
        <div class="ltbi_button" ng-click="vm.buttonClick(item.data)"
             ng-if="(item.type == 'button' || item.type == 'toggleButton')"
             ng-class="{'active':item.data.active && item.type == 'toggleButton','independ':item.data.independent }">
            <div class="ltbi_icon">
                <i class="fa {{item.icon}}" ng-if="item.iconType == 'fa'" aria-hidden="true"></i>
                <i ng-if="item.iconType == 'md'" class="material-icons">{{item.icon}}</i>
                <img ng-if="item.iconType == 'png'" src="{{item.icon}}">
                <i ng-if="item.iconType == 'png'"
                   style="position: absolute; color: rgba(0,0,0,0)!important; width: 80%; height: 80%;"></i>
            </div>
            <div class="ltbi_name">
                {{item.name}}
                <span>{{item.description}}</span>
            </div>
        </div>
        <div class="ltbi_cont" ng-if="item.content" ng-if="item.type == 'button' || item.type == 'toggleButton' ">
            <md-input-container class="md-input-cont">
                <label>Color</label>
                <input type="text" ng-model="color">
            </md-input-container>
        </div>
    </div>
</div>

<div style="height: 100%;">
    <span class="error-msg">{{errorMsg}}</span><br/>
    <div layout="row" layout-align="space-around center">
        <div layout="row" class="input-fields" layout-align="space-around center" flex>

            <md-input-container class="container-margin"  ng-show="vm.multiSelect">
                <label>Vehicle No</label>
                <!--<md-select ng-model="vehicle" ng-model-options="{trackBy: '$value.vehicleno'}">-->
                <md-select ng-model="vm.historyObj.deviceid" ng-change="onVehicleSelect()">

                    <md-option
                        ng-repeat="vehicle in vm.historyObj.dashboardMapObj.inMarkers | filter:vehicle.visible='true' | orderBy:'vehicleno'"
                        ng-value="vehicle.deviceid">
                        {{vehicle.vehicleno}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="container-margin"  ng-show="!vm.multiSelect">
                <label>Vehicle No</label>
                <input type="text" ng-model="vm.historyObj.vehicleNumber">
            </md-input-container>

            <md-input-container class="container-margin">
                <label>Start Time</label>
                <input type="text" id="start_time" ng-model="vm.historyObj.startTime">
            </md-input-container>

            <md-input-container class="container-margin">
                <label>End Time</label>
                <input type="text" id="end_time" ng-model="vm.historyObj.endTime">
            </md-input-container>

            <!--<a class="btn-flat" ng-click="getHistory()">Get History</a>-->
            <md-button class="md-accent" ng-click="getHistory()">Get History</md-button>
        </div>
        <div layout="row" layout-align="end start">
        </div>
    </div>

    <md-dialog-content class="map-dialog-content">
        <div class="md-dialog-content map-dialog history-dialog">
            <ui-gmap-google-map center='vm.historyObj.historyMap.center'
                                zoom='vm.historyObj.historyMap.zoom'
                                options="vm.historyObj.historyMap.mapOptions"
                                bounds="vm.historyObj.historyMap.bounds"
                                events="vm.historyObj.historyMapEvents"
                                control="vm.historyObj.historyMap.mapControl">

                <ui-gmap-map-control
                    template="app/components/landingpage/dashboard/map/history-map-control.html"
                    controller="InnerMapController"
                    position="BOTTOM_CENTER"></ui-gmap-map-control>
                </ui-gmap-map-control>

                <ui-gmap-marker
                    idkey="'self'"
                    coords="vm.historyObj.dashboardMapObj.clickedMarker"
                    click="vm.historyObj.dashboardMapObj.clickedMarker.click"
                    options="vm.historyObj.dashboardMapObj.clickedMarker.options"
                    events="vm.historyObj.dashboardMapObj.clickedMarker.events"
                    control="vm.historyObj.dashboardMapObj.clickedMarker.control">
                </ui-gmap-marker>

                <ui-gmap-marker
                    idkey="'self'"
                    coords="vm.historyObj.endMarker"
                    click="vm.historyObj.endMarker.click"
                    options="vm.historyObj.endMarker.options"
                    events="vm.historyObj.endMarker.events"
                    control="vm.historyObj.endMarker.control">
                </ui-gmap-marker>

                <ui-gmap-polyline
                    path="vm.historyObj.trace.path"
                    stroke="vm.historyObj.trace.stroke"
                    clickable="vm.historyObj.trace.clickable"
                    geodesic="vm.historyObj.trace.geodesic"
                    visible="vm.historyObj.trace.visible"
                    fit="vm.historyObj.trace.fit"
                    static="vm.historyObj.trace.static"
                    events="vm.historyObj.trace.events"
                    icons="vm.historyObj.trace.icons">
                </ui-gmap-polyline>


                <ui-gmap-circle ng-repeat="gcircle in vm.circles track by gcircle.control.info.assetid"
                                center="gcircle.center" radius="gcircle.radius"
                                stroke="gcircle.stroke" fill="gcircle.fill"
                                visible="gcircle.visible" geodesic="gcircle.geodesic"
                                editable="gcircle.editable" draggable="gcircle.draggable"
                                clickable="gcircle.clickable" control="gcircle.control"
                                events="vm.historyObj.historyCircleEvents">
                </ui-gmap-circle>

                <ui-gmap-polygon ng-repeat="gpolygon in vm.polygons track by gpolygon.control.info.assetid"
                                 path="gpolygon.path"
                                 stroke="gpolygon.stroke" fill="gpolygon.fill"  fit="true"
                                 visible="gpolygon.visible" geodesic="gpolygon.geodesic"
                                 editable="gpolygon.editable" draggable="gpolygon.draggable"
                                 clickable="gpolygon.clickable" control="gpolygon.control"
                                 events="vm.historyObj.historyPolygonEvents" static="true">

                </ui-gmap-polygon>

                <!--<ui-gmap-window show="historyInfoWindow.show" coords="historyInfoWindow.coords"-->
                                <!--control="historyInfoWindow.control"-->
                                <!--options="historyInfoWindow.options" closeClick="historyInfoWindowClose()"-->
                                <!--templateUrl="'historyInfoWindow.html'"-->
                                <!--templateParameter="historyInfoWindow"-->
                                <!--isIconVisibleOnClick="true">-->
                <!--</ui-gmap-window>-->

                <ui-gmap-window show="vm.historyObj.historyFenceInfoWindow.show" coords="vm.historyObj.historyFenceObj"
                                control="historyFenceInfoWindow.control" optimized="false"
                                options="historyFenceInfoWindow.options"
                                isIconVisibleOnClick="true">

                    <table>
                        <tbody>
                        <tr>
                            <th>Name: </th>
                            <td>{{vm.historyObj.historyFenceObj.name}}</td>
                        </tr>
                        <tr>
                            <th>Type:   </th>
                            <td>{{vm.historyObj.historyFenceObj.other}}</td>
                        </tr>
                        </tbody>
                    </table>
                </ui-gmap-window>

            </ui-gmap-google-map>
        </div>
</div>
<!--</md-tab-body>-->

<script>
    $(document).ready(function () {
        $('#start_time').datetimepicker({
            mask: '9999-19-39 29:59',
            format: 'Y-M-d H:i'
        });

        $('#end_time').datetimepicker({
            mask: '9999/19/39 29:59',
            format: 'Y-M-d H:i'
        });
    });
</script>
