<!--<md-tab-body>-->
<div controller="HistoryController as vm">
    <span class="error-msg">{{errorMsg}}</span><br/>

    <div layout="row" layout-align="space-around center">
        <div layout="row" class="input-fields" layout-align="space-around center" flex>
            <md-input-container class="container-margin">
                <label>Vehicle No</label>
                <input type="text" ng-model="vehicleNumber" readonly>
            </md-input-container>

            <md-input-container class="container-margin">
                <label>Start Time</label>
                <input type="text" id="start_time" ng-model="startTime">
            </md-input-container>

            <md-input-container class="container-margin">
                <label>End Time</label>
                <input type="text" id="end_time" ng-model="endTime">
            </md-input-container>
            <md-button class="md-accent" ng-click="getHistory()">Get History</md-button>
        </div>
        <div layout="row" layout-align="end start">
        </div>
    </div>

    <div class="map-dialog-content">
        <div class="md-dialog-content map-dialog history-dialog">
            <ui-gmap-google-map center='historyMap.center' zoom='historyMap.zoom' draggable="true"
                                options="historyMap.mapOptions" bounds="historyMap.bounds"
                                control="historyMap.mapControl">

                <ui-gmap-map-control
                    template="app/components/landingpage/dashboard/map/history-map-control.html"
                    controller="InnerMapController"
                    position="top-right"></ui-gmap-map-control>

                </ui-gmap-map-control>

                <ui-gmap-marker
                    idkey="'self'"
                    coords="clickedMarker"
                    click="clickedMarker.click"
                    options="clickedMarker.options"
                    events="clickedMarker.events"
                    control="clickedMarker.control">
                </ui-gmap-marker>

                <ui-gmap-polyline
                    path="trace.path"
                    stroke="trace.stroke"
                    clickable="trace.clickable"
                    geodesic="trace.geodesic"
                    visible="trace.visible"
                    fit="trace.fit"
                    static="trace.static"
                    events="trace.events"
                    icons="trace.icons">
                </ui-gmap-polyline>

                <ui-gmap-window show="historyInfoWindow.show" coords="historyInfoWindow.coords"
                                control="historyInfoWindow.control"
                                options="historyInfoWindow.options" closeClick="historyInfoWindowClose()"
                                templateUrl="'historyInfoWindow.html'"
                                templateParameter="historyInfoWindow"
                                isIconVisibleOnClick="true">
                </ui-gmap-window>

            </ui-gmap-google-map>
        </div>
        </div>
<!--</md-tab-body>-->
