<!DOCTYPE html>


<md-expansion-panel-group md-component-id="panelGroup" id="/1/1">
    <md-expansion-panel md-component-id="panelOne" id="1">
        <md-expansion-panel-collapsed>vehicle 1</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne" id="2">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>


    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>
    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>
    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panell" id="sss">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>

    <md-expansion-panel md-component-id="panelOne" id="bottom">
        <md-expansion-panel-collapsed>vehicle 2</md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="vm.toggle_on_panel($panel.collapse)">
                {{d.name}}
            </md-expansion-panel-header>
            <md-expansion-panel-content>
                <md-input-container>
                    <label>Vehicle Name</label>
                    <input type="text" value="{{d.name}}">
                </md-input-container>
            </md-expansion-panel-content>
            <md-expansion-panel-footer>
                <md-button class="md-warn" ng-click="$panel.collapse()">Discard</md-button>
                <md-button class="md-warn" ng-click="$panel.collapse()">Save</md-button>
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>
    </md-expansion-panel>


</md-expansion-panel-group>

