<style>
    .div-area{padding:50px;}
</style>

<md-dialog aria-label="deleteDialog">
    <md-dialog-content>
        <div class="div-area">
           Are you sure you want to delete?
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <div flex>
            <md-button class="md-raised md-primary" ng-click="delete_selected()">Yes</md-button>
            <md-button class="md-raised md-primary" ng-click="cancel_selected()">No</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
