<!DOCTYPE html>

<style>
    .icar-new-group {
        border: 1px solid #ccc;
        /*margin: 0 !important;*/
        /*z-index: 9999;*/
        /*-webkit-transition: height .3s ease-in-out;*/
        /*transition: all .3s ease-in-out;*/
        /*opacity: 0;*/
        display:none;
    }
    .icar-new-group.active {
        display:block;
        /*opacity: 1;*/
    }
</style>

<md-button class="md-accent" ng-show="vm.showBtn" ng-click="vm.showNewGroupField()">
    Create Group
</md-button>

<div class="list list-inset icar-new-group" ng-class="{'active':vm.isdiplay}">
    <div class="error" ng-show="vm.msg" style="color:red">{{vm.msg}}</div>
    <md-content layout="row">
        <md-input-container flex>
            <label>Enter Group Name</label>
            <input type="text" ng-model="vm.newGroup.name"  maxlength="10">
        </md-input-container>

        <md-button class="md-button md-accent" ng-click="vm.createGroup();" flex="20"
                   ng-disabled="vm.groupBtnStatus">Create Group</md-button>
    </md-content>
</div><br/>

<script type="text/ng-template" id="outside-panel-header.html">
    <div class="md-title" style="display:inline;">{{myAsset.name}}</div>
    <div class="md-summary"></div>
    <md-expansion-panel-icon></md-expansion-panel-icon>
</script>


<script type="text/ng-template" id="outside-panel-content.html">
    <div class="md-title">{{myAsset.name}}</div>
    <!--<icar-expanel ng-repeat="item in vm.vehicleinfo track by $index"-->
    <!--details="item" schema="item.schema" layout></icar-expanel>-->
</script>


<md-expansion-panel-group md-component-id="vehicleGroup" flex>

    <md-expansion-panel md-component-id="$index" ng-repeat="myAsset in vm.assets track by $index">

        <md-expansion-panel-collapsed ng-include="'outside-panel-header.html'">
        </md-expansion-panel-collapsed>

        <md-expansion-panel-expanded>
            <md-expansion-panel-header ng-click="$panel.collapse()">
                <div style="display:inherit;width:100%;" ng-include="'outside-panel-header.html'"></div>
            </md-expansion-panel-header>

            <md-expansion-panel-content>
                <div ng-include="'outside-panel-content.html'"></div>
            </md-expansion-panel-content>

            <md-expansion-panel-footer  md-no-sticky="true">
            </md-expansion-panel-footer>
        </md-expansion-panel-expanded>

    </md-expansion-panel>


</md-expansion-panel-group>



