
<h3>Add Ticket</h3>
<div layout="row"  layout-xs="column">
<md-content>					
	<md-input-container flex="100">
		<label>customer Name :</label>
		<input required name="username" 
			ng-model="vm.obj.customerName">
	   
	</md-input-container>
	<md-input-container flex="50">
		<label>City :</label>
		<input required name="passwd" 
			ng-model="vm.obj.customerName">
	</md-input-container>
	
	<md-input-container flex="50">
		<label>Pincode :</label>
		<input required name="passwd" 
			ng-model="vm.obj.pincode">
	</md-input-container>
	
	<md-input-container flex="50">
		<label>status :</label>
		<input required name="passwd" 
			ng-model="vm.obj.status">
	</md-input-container>
	
	
	<md-button class="md-raised md-primary"
		>Create</md-button>

</md-content>
</div>