<!DOCTYPE html>



<style>
    .left-nav {border-right:1px solid #CCC;}
    .right-nav {border-left:1px solid #CCC;}

</style>

<div class="mainHeader" ui-view="header"></div>
		<table>
			<thead>
				<th>Id</th>
				<th>Customer Name</th>
				<th>Contact person</th>
				<th>City</th>
				<th>Pincode</th>
				<th>Issue</th>
				<th>Status</th>
			</thead>
			<tbody>	
				<tr ng-repeat="ticket in vm.ticketList">
					<td>{{ticket.id}}</td>
					<td>{{ticket.customerName}}</td>
					<td>{{ticket.contactPerson}}</td>
					<td>{{ticket.city}}</td>
					<td>{{ticket.pincode}}</td>
					<td>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Issue</label>
							<input type="text" id="start_time" ng-model="ticket.issue">
						</md-input-container>
					</td>
					<td>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Assign To</label>
						<md-select ng-model="ticket.status" ng-change="vm.statusChange(ticket);">
							<md-option ng-repeat="tech in vm.statusList" 
								value="{{tech}}">
								{{tech}}
							</md-option>
						</md-select>
					</md-input-container>
					</td>
					<td>{{tech.username}}</td>
				</tr>
				
			</tbody>
		</table>

	<div ui-view="footer"></div>
</div>

<style>
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
</style>