<!DOCTYPE html>

<!--<div ng-include src="icar-expanel-templates.html"></div>-->
<!--<link rel="import" href="app/components/common/directives/icar-expanel/icar-expanel-templates.html">-->

<style>
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
        min-height:360px;
    }
</style>

<script type="text/ng-template" id="panel-header.html">
    <div layout="row" flex>
        <div>{{details.name}}</div>
        <div class="md-summary"></div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
    </div>
</script>

<script type="text/ng-template" id="panel-content.html">
    <div layout="row" flex>
        <div flex>
            <md-tabs flex>
                <md-tab ng-repeat="(key, tab) in schema">
                    <md-tab-label>
                        {{key}}
                    </md-tab-label>
                    <md-tab-body>
                        <icar-tab-content tab-content="tab"></icar-tab-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-footer.html">
    <div layout="row" flex>
        <md-button class="md-warn" ng-click="save()">Save</md-button>
        <md-button class="md-warn" ng-click="discard()">Discard</md-button>
        <md-button class="md-fab md-mini" aria-label="Edit" ng-click="edit()">
            <md-icon class="material-icons md-mini">mode_edit</md-icon>
            <md-tooltip md-direction="bottom">
                Edit
            </md-tooltip>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="delete" ng-click="delete(details.id)">
            <md-icon class="material-icons md-mini">delete</md-icon>
            <md-tooltip md-direction="bottom">
                Delete
            </md-tooltip>
        </md-button>
    </div>
</script>



<md-expansion-panel md-component-id="details.assetpath" flex>

    <md-expansion-panel-collapsed ng-click="expandCollapse($panel)" md-no-sticky="true" flex>
        <div ng-include="headerTemplate"></div>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded flex>
        <md-expansion-panel-header ng-click="expandCollapse($panel)"  md-no-sticky="true" flex>
            <div ng-include="headerTemplate"></div>
        </md-expansion-panel-header>

        <md-expansion-panel-content ng-include="contentTemplate" flex>
            <!--<icar-tab-content tab-content="vm.schema"></icar-tab-content>-->
        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky="true" flex>
            <div ng-include="footerTemplate"></div>
        </md-expansion-panel-footer>
    </md-expansion-panel-expanded>

</md-expansion-panel>

