<!DOCTYPE html>

<!--<script type="text/ng-template" id="fields-template.html">-->

    <!--<div> <h1>HTML Content </h1></div>-->

    <!--<div ng-bind-html="fields"></div>-->
<!--</script>-->

<md-expansion-panel md-component-id="{{details.order}}" flex>
    <md-expansion-panel-collapsed ng-click="getCurrentData(details.order)" flex>
        <div class="md-title">{{details.section}}</div>
        <div class="md-summary">demo</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded flex>
        <md-expansion-panel-header ng-click="collapsePanel(details.order)" flex>

            <div class="md-title">{{details.section}}</div>
            <div class="md-summary"></div>

            <md-expansion-panel-icon></md-expansion-panel-icon>
        </md-expansion-panel-header>

        <md-expansion-panel-content flex id="fields_content">
        </md-expansion-panel-content>

        <md-expansion-panel-footer flex>
            <div flex></div>
            <md-button class="md-warn" ng-click="save();">Save</md-button>
            <md-button class="md-warn" ng-click="discard(details.len)">Discard</md-button>
            <md-button class="md-fab md-mini" aria-label="Edit" ng-click="edit()">
                <md-icon class="material-icons md-mini">mode_edit</md-icon>
                <md-tooltip md-direction="bottom">
                    Edit
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="delete" ng-click="delete(details.id)">
                <md-icon class="material-icons md-mini">delete</md-icon>
                <md-tooltip md-direction="bottom">
                    Delete
                </md-tooltip>
            </md-button>
        </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
</md-expansion-panel>

