<!DOCTYPE html>

<style>
    .md-button{
        text-transform:capitalize;
    }
    .alert-md-content{height:590px;overflow-y:scroll;}
    .container-margin{margin-bottom: 0; padding:0; height:31px}

    .md-title {font-size:13px !important;}

    .panel-content{padding:4px 4px;}
</style>
<md-sidenav  class="md-sidenav-right" md-component-id="right"
             md-is-locked-open = "right_nav_toggle" layout="column"  flex>
    <!--The ROot Node-->
    <md-input-container class="container-margin">
        <label>Search alerts</label>
        <input type="text" ng-model="vm.searchAlertStr" ng-blur="vm.searchAlertStr =''" ng-keyup="vm.searching(vm.searchAlertStr,'keydown')">
    </md-input-container>

    <md-content class="alert-md-content" style="overflow-y: auto">
        <!--<md-list class="md-dense" flex>-->
        <!--<md-list-item class="md-3-line" ng-repeat="alert in vm.inMarkers | filter:{$: vm.searchAlertStr}">-->
        <!--<div class="md-list-item-text" layout="column" ng-click="vm.alertClick(alert.id)">-->
        <!--<h3>Alert</h3>-->
        <!--<h4>Car Number: {{alert.id}}</h4>-->
        <!--<p>Odometer: {{alert.odometer}}</p>-->
        <!--<p>Ignition: {{alert.ignitionstatusStr}}</p>-->
        <!--<p>Mobility: {{alert.mobilistatusFilter}}</p>-->
        <!--</div>-->
        <!--<md-button class="md-button md-accent" ng-click="vm.alertResolve(alert.id)">Resolve</md-button>-->
        <!--</md-list-item>-->
        <!--</md-list>-->

        <!--<md-expansion-panel md-component-id="panelOne">-->

            <!--<md-expansion-panel-collapsed md-no-sticky="true">-->
                <!--<div class="md-title">Hub Report</div>-->
                <!--<div class="md-summary">0</div>-->
                <!--<md-expansion-panel-icon></md-expansion-panel-icon>-->
            <!--</md-expansion-panel-collapsed>-->


            <!--<md-expansion-panel-expanded>-->

                <!--<md-expansion-panel-header md-no-sticky="true" ng-click="vm.collapseAlertPanel($panel)">-->
                    <!--<div class="md-title">Hub Report</div>-->
                    <!--<div class="md-summary">0</div>-->
                    <!--<md-expansion-panel-icon></md-expansion-panel-icon>-->
                <!--</md-expansion-panel-header>-->

                <!--<md-expansion-panel-content class="panel-content">-->
                    <!--<md-expansion-panel-group md-component-id="panelGroup" multiple>-->
                        <!--<md-expansion-panel md-component-id="panelOne"  ng-repeat = "report in vm.mydata">-->
                            <!--<md-expansion-panel-collapsed>-->
                                <!--<div class="md-title">{{report.reportName}}</div>-->
                                <!--<div class="md-summary">0</div>-->
                                <!--<md-expansion-panel-icon></md-expansion-panel-icon>-->
                            <!--</md-expansion-panel-collapsed>-->
                            <!--<md-expansion-panel-expanded>-->
                                <!--<md-expansion-panel-header ng-click="vm.collapseAlertPanel($panel)">-->
                                    <!--<div class="md-title">{{report.reportName}}</div>-->
                                    <!--<div class="md-summary">0</div>-->
                                    <!--<md-expansion-panel-icon></md-expansion-panel-icon>-->
                                <!--</md-expansion-panel-header>-->
                                <!--<md-expansion-panel-content  class="panel-content">-->

                                    <!--<md-expansion-panel-group md-component-id="fencePanel" multiple>-->
                                        <!--<md-expansion-panel md-component-id="myfence.fenceid"-->
                                                            <!--ng-repeat="myfence in report.fences">-->
                                            <!--<md-expansion-panel-collapsed>-->
                                                <!--<div class="md-title">{{myfence.fenceName}}</div>-->
                                                <!--<div class="md-summary">0</div>-->
                                                <!--<md-expansion-panel-icon></md-expansion-panel-icon>-->
                                            <!--</md-expansion-panel-collapsed>-->
                                            <!--<md-expansion-panel-expanded>-->
                                                <!--<md-expansion-panel-header-->
                                                    <!--ng-click="vm.collapseAlertPanel($panel)">-->
                                                    <!--<div class="md-title">{{myfence.fenceName}}</div>-->
                                                    <!--<div class="md-summary">0</div>-->
                                                    <!--<md-expansion-panel-icon></md-expansion-panel-icon>-->
                                                <!--</md-expansion-panel-header>-->
                                                <!--<md-expansion-panel-content  class="panel-content">-->

                                                    <!--<md-expansion-panel-group-->
                                                        <!--md-component-id="vehiclePanel" multiple>-->
                                                        <!--<md-expansion-panel md-component-id="panelOne"-->
                                                                            <!--ng-repeat="myvehicle in myfence.vehicles">-->
                                                            <!--<md-expansion-panel-collapsed>-->
                                                                <!--<div class="md-title">-->
                                                                    <!--{{myvehicle.vehicleid}}</div>-->
                                                                <!--<div class="md-summary">0</div>-->
                                                                <!--<md-expansion-panel-icon>-->
                                                                <!--</md-expansion-panel-icon>-->
                                                            <!--</md-expansion-panel-collapsed>-->
                                                            <!--<md-expansion-panel-expanded>-->
                                                                <!--<md-expansion-panel-header-->
                                                                    <!--ng-click="vm.collapseAlertPanel($panel)">-->
                                                                    <!--<div class="md-title">-->
                                                                        <!--{{myvehicle.vehicleid}}</div>-->
                                                                    <!--<div class="md-summary">0</div>-->
                                                                    <!--<md-expansion-panel-icon>-->
                                                                    <!--</md-expansion-panel-icon>-->

                                                                <!--</md-expansion-panel-header>-->
                                                                <!--<md-expansion-panel-content-->
                                                                    <!--class="panel-content">-->
                                                                    <!--<span>Trigger Location:-->
                                                                        <!--{{myvehicle.triggerloc}} </span><br/>-->
                                                                    <!--<span>Trigger Date :-->
                                                                         <!--{{myvehicle.triggerloc}}-->
                                                                    <!--</span><br/>-->
                                                                    <!--<span>Trigger Type :-->
                                                                         <!--{{myvehicle.triggertype}}-->
                                                                    <!--</span>-->
                                                                <!--</md-expansion-panel-content>-->
                                                            <!--</md-expansion-panel-expanded>-->
                                                        <!--</md-expansion-panel>-->
                                                    <!--</md-expansion-panel-group>-->
                                                <!--</md-expansion-panel-content>-->
                                            <!--</md-expansion-panel-expanded>-->
                                        <!--</md-expansion-panel>-->
                                    <!--</md-expansion-panel-group>-->

                                <!--</md-expansion-panel-content>-->
                            <!--</md-expansion-panel-expanded>-->
                        <!--</md-expansion-panel>-->
                    <!--</md-expansion-panel-group>-->

                <!--</md-expansion-panel-content>-->

            <!--</md-expansion-panel-expanded>-->
        <!--</md-expansion-panel>-->
        <md-tabs md-selected="vm.selectedIndex" class="rightNavTabSet">
            <md-tab>
                <md-tab-label>
                    Active
                </md-tab-label>
                <md-tab-body>
                    <div class="expansionNav coolbar" style="top:0;">
                        <!--first wrapper-->
                        <div class="en_main"
                             ng-class="{'active':main.active}"  ng-repeat="main in vm.activeTabData | filter : vm.searchAlertStr">
                            <div class="en_label " ng-class="{'{{main.class}}':true}"  ng-click="vm.itemClicked(main,main.id)" ng-init="main.id = $index" >
                                {{main.reportName}}
                                <div class="enl_item enl_add">
                                    <i class="fa fa-plus" ng-if="!main.active"></i>
                                    <i class="fa fa-minus" ng-if="main.active"></i>
                                </div>
                                <div class="enl_item enl_count">22</div>
                            </div>
                            <!--middle wrapper-->
                            <div class="en-wrapper">
                                <div class="en_mid"  ng-repeat="mid in main.fences | filter : vm.searchAlertStr"
                                     ng-class="{'en-closed':!main.active,'en-semi-closed':main.active && !mid.active  }">
                                    <div class="en_label"  ng-click="vm.itemClicked(mid,main.id,mid.id)" ng-init="mid.id = $index">
                                        {{mid.fenceName}}
                                        <div class="enl_item enl_add">
                                            <i class="fa fa-plus" ng-if="!mid.active"></i>
                                            <i class="fa fa-minus" ng-if="mid.active"></i>
                                        </div>
                                        <div class="enl_item enl_count">10</div>
                                    </div>
                                    <!--final wrapper-->
                                    <div class="en-wrapper">
                                        <div class="en_last" ng-repeat="car in mid.vehicles | filter : vm.searchAlertStr"
                                        ng-class="{'active':car.active && mid.active,'en-closed':!mid.active}">
                                            <div class="en_head" ng-click="vm.itemClicked(car,main.id,mid.id,$index); " ng-class="{'resolvedHeader':car.resolved}">
                                                {{car.vehicleid}}
                                                <div class="enl_item enl_add">
                                                    <i class="fa fa-plus" ng-if="!car.active"></i>
                                                    <i class="fa fa-minus" ng-if="car.active"></i>
                                                </div>
                                                <!--<div class="enl_item enl_entry" ng-class="{'redBG':car.triggertype == 'exit','greenBG':car.triggertype == 'entry' }">-->
                                                    <!--<i class="fa fa-arrow-down" ng-if="car.triggertype == 'entry'"></i>-->
                                                    <!--<i class="fa fa-arrow-up" ng-if="car.triggertype == 'exit'"></i>-->
                                                <!--</div>-->
                                                <div class="enl_item enl_time blueBG"> 4h 22m </div>
                                            </div>
                                            <div class="en_body">
                                                <div class="enb_full" >
                                                    <i class="fa fa-arrow-down greenColor"></i> Entry : {{car.triggerdate}}
                                                </div>
                                                <div class="enb_full">
                                                    <i class="fa fa-arrow-up redColor" ></i> Exit : {{car.triggerdate}}
                                                </div>
                                                <div class="enb_full">
                                                    <textarea class="coolbar"placeholder="Put Your Message"></textarea>
                                                    <div class="enb_button_list">
                                                        <button class="blueBG" ng-click="vm.saveRep(car)"><i class="fa fa-save"></i></button>
                                                        <button class="greenBG" ng-if="!car.resolved" ng-click="vm.resolve(car)"><i class="fa fa-check"></i></button>
                                                        <button class="redBG" ng-if="car.resolved" ng-click="vm.resolve(car)"><i class="fa fa-times"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab md-selected="vm.selectedIndex">
                <md-tab-label>
                    History
                </md-tab-label>
                <md-tab-body>

                    <md-tab-body>
                        <div class="rnt_head">
                            <div class="rnth_item" ng-class="{'active':vm.activeFilter == 'all'}" ng-click="vm.activeFilter = 'all'">
                                <md-icon class="icon-font icon-visibility material-icons md-light" md-font-library="material-icons">check_circle</md-icon>
                            </div>
                            <div class="rnth_item" ng-class="{'active':vm.activeFilter == 'ignitionOn'}" ng-click="vm.activeFilter = 'ignitionOn'">
                                <md-icon class="icon-font icon-visibility material-icons md-light" md-font-library="material-icons">cancel</md-icon>
                            </div>
                        </div>
                        <!--first wrapper-->
                        <div class="expansionNav coolbar" >
                            <div class="en_main"
                                 ng-class="{'active':main.active}"  ng-repeat="main in vm.historyTabData | filter : vm.searchAlertStr">
                                <div class="en_label " ng-class="{'{{main.class}}':true}"  ng-click="vm.itemClicked(main,main.id)" ng-init="main.id = $index" >
                                    {{main.reportName}}
                                    <div class="enl_item enl_add">
                                        <i class="fa fa-plus" ng-if="!main.active"></i>
                                        <i class="fa fa-minus" ng-if="main.active"></i>
                                    </div>
                                    <div class="enl_item enl_count">22</div>
                                </div>
                                <!--middle wrapper-->
                                <!--final wrapper-->
                                <div class="en-wrapper">
                                    <div class="en_last" ng-repeat="car in main.vehicles | filter : vm.searchAlertStr"
                                         ng-class="{'active':car.active && main.active,'en-closed':!main.active}">
                                        <div class="en_head" ng-click="vm.itemClicked(car,main.id,$index); " ng-class="{'resolvedHeader':car.resolved}">
                                            {{car.vehicleid}}
                                            <div class="enl_item enl_add">
                                                <i class="fa fa-plus" ng-if="!car.active"></i>
                                                <i class="fa fa-minus" ng-if="car.active"></i>
                                            </div>
                                            <!--<div class="enl_item enl_entry" ng-class="{'redBG':car.triggertype == 'exit','greenBG':car.triggertype == 'entry' }">-->
                                            <!--<i class="fa fa-arrow-down" ng-if="car.triggertype == 'entry'"></i>-->
                                            <!--<i class="fa fa-arrow-up" ng-if="car.triggertype == 'exit'"></i>-->
                                            <!--</div>-->
                                            <div class="enl_item enl_time blueBG"> 4h 22m </div>
                                        </div>
                                        <div class="en_body">
                                            <div class="enb_full" >
                                                <i class="fa fa-arrow-down greenColor"></i> Entry : {{car.triggerdate}}
                                            </div>
                                            <div class="enb_full">
                                                <i class="fa fa-arrow-up redColor" ></i> Exit : {{car.triggerdate}}
                                            </div>
                                            <div class="enb_full">
                                                <textarea class="coolbar"placeholder="Put Your Message"></textarea>
                                                <div class="enb_button_list">
                                                    <button class="blueBG" ng-click="vm.saveRep(car)"><i class="fa fa-save"></i></button>
                                                    <button class="greenBG" ng-if="!car.resolved" ng-click="vm.resolve(car)"><i class="fa fa-check"></i></button>
                                                    <button class="redBG" ng-if="car.resolved" ng-click="vm.resolve(car)"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-content>
</md-sidenav>


