<!DOCTYPE html>

<style>
    .md-button{
        text-transform:capitalize;
    }
    .alert-md-content{height:590px;overflow:scroll-y;}
    .container-margin{margin-bottom: 0; padding:0; height:31px}

    .md-title {font-size:13px !important;}
</style>
<md-sidenav  class="md-sidenav-right" md-component-id="right"
             md-is-locked-open = "right_nav_toggle" layout="column"  flex>
    <!--The ROot Node-->
    <md-input-container class="container-margin">
        <label>Search alerts</label>
        <input type="text" ng-model="vm.searchAlertStr">
    </md-input-container>

    <md-content class="alert-md-content">
        <!--<md-list class="md-dense" flex>-->
            <!--<md-list-item class="md-3-line" ng-repeat="alert in vm.inMarkers | filter:{$: vm.searchAlertStr}">-->
                <!--<div class="md-list-item-text" layout="column" ng-click="vm.alertClick(alert.id)">-->
                    <!--<h3>Alert</h3>-->
                    <!--<h4>Car Number: {{alert.id}}</h4>-->
                    <!--<p>Odometer: {{alert.odometer}}</p>-->
                    <!--<p>Ignition: {{alert.ignitionstatusStr}}</p>-->
                    <!--<p>Mobility: {{alert.mobilistatusFilter}}</p>-->
                <!--</div>-->
                <!--<md-button class="md-button md-accent" ng-click="vm.alertResolve(alert.id)">Resolve</md-button>-->
            <!--</md-list-item>-->
        <!--</md-list>-->

        <md-expansion-panel md-component-id="panelOne" ng-repeat="alert in vm.navAlerts">

            <md-expansion-panel-collapsed md-no-sticky="true">
                <div class="md-title">{{alert.category}}</div>
                <div class="md-summary">0</div>
                <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-collapsed>


            <md-expansion-panel-expanded ng-click="vm.collapseAlertPanel($panel)">

                <md-expansion-panel-header md-no-sticky="true">
                    <div class="md-title">{{alert.category}}</div>
                    <div class="md-summary">0</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-header>

                <md-expansion-panel-content>
                    <!--<span ng-repeat="details in alert.alarms">-->
                         <!--<h4>Vehicle Name: {{details.id}}</h4>-->
                    <!--<p>Odometer : {{details.odometer}}</p>-->
                    <!--<p>Ignition : {{details.ignition}}</p>-->
                    <!--<p>Mobility : {{details.mobility}}</p>-->
                    <!--</span>-->

                </md-expansion-panel-content>

                <md-expansion-panel-footer md-no-sticky="true">
                    <div flex></div>
                </md-expansion-panel-footer>

            </md-expansion-panel-expanded>

        </md-expansion-panel> 
        <!-- <md-tabs class="" md-selected="selectedTab" md-align-tabs="top" md-border-bottom md-autoselect md-dynamic-height>
            <md-tab> 
                <a ui-sref="home.history" style="width:100%; height:100%">History</a>
            </md-tab>
            <md-tab> 
                <a ui-sref="home.geofence" style="width:100%; height:100%">Geofence</a>
            </md-tab>
        </md-tabs> 
        <div flex style="width:100%; height:550px; background:#eee;">
            <div ui-view="dialogview"></div>
        </div>  -->

    </md-content>


</md-sidenav>


