<!DOCTYPE html>

<style>
    .md-button{
        text-transform:capitalize;
    }
    .alert-md-content{height:590px;overflow-y:scroll;}
    .container-margin{margin-bottom: 0; padding:0; height:31px}

    .md-title {font-size:13px !important;}

    .panel-content{padding:4px 4px;}

    .ignition-on-bg {
        background:#2acc60 !important;
    }
    .ignition-off-bg {
        background:#6476a2 !important;
    }
</style>
<md-sidenav  class="md-sidenav-right" md-component-id="right"
             md-is-locked-open = "right_nav_toggle" layout="column"  flex>
    <!--The ROot Node-->
    <md-input-container class="container-margin">
        <label>Search alerts</label>
        <input type="text" ng-model="vm.searchAlertStr" ng-blur="vm.searchAlertStr =''" ng-keyup="vm.searching(vm.searchAlertStr,'keydown')">
    </md-input-container>

    <md-content class="alert-md-content" style="overflow-y: auto">
        <md-tabs md-selected="vm.selectedIndex" class="rightNavTabSet">
            <md-tab>
                <md-tab-label>
                    Active
                </md-tab-label>
                <md-tab-body>
                    <span class="spinner -sp-blue -sp-big" ng-if="!vm.activeTabData"></span>
                    <div class="expansionNav coolbar" style="top:0;" ng-if="vm.activeTabData">
                        <!--first wrapper-->
                        <div class="en_main" ng-if="mainKey != 'active' && vm.navFilter(main)"
                             ng-class="{'active':main.active}"  ng-repeat="(mainKey, main) in vm.activeTabData " ng-init="main.active = true">
                            <div class="en_label " ng-class="{'{{main.class}}':true}"  ng-click="vm.itemClicked(main,1)" style="background:#4FC3F7 !important;">
                                {{mainKey}}
                                <div class="enl_item enl_add">
                                    <i class="fa fa-plus" ng-if="!main.active"></i>
                                    <i class="fa fa-minus" ng-if="main.active"></i>
                                </div>
                                <div class="enl_item enl_count">{{vm.returnLength(main,1)}}</div>
                            </div>
                            <!--middle wrapper-->
                            <div class="en-wrapper">
                                <div class="en_mid"  ng-repeat="(midKey, mid) in main " ng-if="midKey != 'active' && vm.navFilter(mid)"  ng-init="mid.active = true"
                                     ng-class="{'en-closed':!main.active}" style="height:{{vm.returnHeight(mid);}}">
                                    <div class="en_label"  ng-click="vm.itemClicked(mid,2)" style="background:#B3E5FC!important; "  >
                                        {{midKey}}
                                        <div class="enl_item enl_add">
                                            <i class="fa fa-plus" ng-if="!mid.active"></i>
                                            <i class="fa fa-minus" ng-if="mid.active"></i>
                                        </div>
                                        <div class="enl_item enl_count">{{vm.returnLength(mid,2)}}</div>
                                    </div>
                                    <!--final wrapper-->
                                    <div class="en-wrapper">
                                        <div class="en_last" ng-repeat="(carKey, car) in mid" ng-if="carKey != 'active' && vm.navFilter(car)"
                                             ng-class="{'active':car.active && mid.active,'en-closed':!mid.active, 'noExit':car.stillActive}">
                                            <div class="en_head"
                                                 ng-click="vm.itemClicked(car,3); " ng-class="{'resolvedHeader':car.resolved}">
                                                {{carKey}}
                                                <!--<div class="enl_item enl_add">-->
                                                <!--<i class="fa fa-plus" ng-if="!car.active"></i>-->
                                                <!--<i class="fa fa-minus" ng-if="car.active"></i>-->
                                                <!--</div>-->
                                                <div class="enl_item enl_entry" ng-class="{'redBG':!car.triggerType,'greenBG':car.triggerType}">
                                                    <i class="fa fa-arrow-down" class="" ng-if="car.triggerType"></i>
                                                    <i class="fa fa-arrow-up" ng-if="!car.triggerType"></i>
                                                </div>
                                                <div class="enl_item enl_time"
                                                     ng-class="{ 'ignition-on-bg': vm.vehicleData[carKey].ignitionstatus==1 ,
                                                 'ignition-off-bg': vm.vehicleData[carKey].ignitionstatus==0  }"
                                                >{{ vm.getTimeDiff(car) }}</div>
                                            </div>
                                            <div class="en_body">
                                                <div class="enb_full" ng-if="car.triggerType">
                                                    <i class="fa fa-arrow-down greenColor"></i> Entry : {{car.entry | date : 'd MMM, h:mm a'}}
                                                </div>
                                                <div class="enb_full" ng-if="!car.triggerType">
                                                    <i class="fa fa-arrow-up redColor"></i> Exit : {{car.entry | date : 'd MMM, h:mm a'}}
                                                </div>
                                                <!--<div class="enb_full" ng-if="!car.stillActive">-->
                                                <!--<i class="fa fa-arrow-up redColor" ></i> Exit : {{car.exit | date : 'd MMM, h:mm a'}}-->
                                                <!--</div>-->
                                                <div class="enb_full">
                                                    <textarea class="coolbar"placeholder="Put Your Message" ng-keydown="vm.resolutionKeyEvent($event,car)"></textarea>
                                                    <div class="enb_button_list">
                                                        <button class="blueBG" ng-if="car.state != vm.SAVING" ng-click="vm.saveRep(car)"><i class="fa fa-save"></i></button>
                                                        <button class="greyBG"  ng-if="car.state == vm.SAVING" >
                                                            <span class="spinner"></span>
                                                        </button>
                                                        <button class="greenBG"  ng-if="!car.resolved && car.state != vm.RESOLVING" ng-click="vm.resolve(car)">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                        <button class="redBG"  ng-if="car.resolved && car.state != vm.RESOLVING" ng-click="vm.resolve(car)">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                        <button class="greyBG"  ng-if="car.state == vm.RESOLVING" >
                                                            <span class="spinner"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab md-selected="vm.selectedIndex">
                <md-tab-label>
                    History
                </md-tab-label>
                <md-tab-body>

                    <md-tab-body>
                        <div class="expansionNav coolbar" style="top:0;" ng-if="vm.activeTabData">
                            <!--first wrapper-->
                            <div class="en_main" ng-if="vm.navFilter(main)"
                                 ng-class="{'active':main.active}"  ng-repeat="main in vm.reports " ng-init="main.active = true">
                                <div class="en_label " ng-class="{'{{main.class}}':true}"  ng-click="vm.itemClicked(main,1)" style="background:#4FC3F7 !important;">
                                    {{main.reportName}}
                                    <div class="enl_item enl_add">
                                        <i class="fa fa-plus" ng-if="!main.active"></i>
                                        <i class="fa fa-minus" ng-if="main.active"></i>
                                    </div>
                                </div>
                                <div class="en-wrapper">
                                    <div ng-repeat="fence in main.fences" style="width: 100%;float:left">
                                        <div class="en_mid"  ng-repeat="(midKey, mid) in fence" ng-if="midKey != 'id' && midKey != 'name' && mid.length > 0"
                                             style="s:{{vm.returnHeight(mid);}}">
                                            <div class="en_label"  ng-click="vm.itemClicked(mid,2)" style="background:#B3E5FC!important;">
                                                {{ midKey}}
                                                <div class="enl_item enl_add">
                                                    <i class="fa fa-plus" ng-if="!mid.active"></i>
                                                    <i class="fa fa-minus" ng-if="mid.active"></i>
                                                </div>
                                                <div class="enl_item enl_count">{{vm.returnLength(mid,2)}}</div>
                                            </div>
                                            <div class="en-wrapper">
                                                <div ng-repeat="vehicle in mid" class="en_mid">
                                                    {{vehicle.fentry}} ==
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-content>
</md-sidenav>


