/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'gotham';
    src: url(../assets/fonts/gotham/Gotham-Book.otf);
}
@font-face {
    font-family: 'gotham-b';
    src: url(../assets/fonts/gotham/Gotham-Bold.otf);
}

body{
    font-family: gotham!important;
}
[ng-click]{
    outline:none!important;
}


@mixin border-radius($str){
    -webkit-border-radius:$str;
    -moz-border-radius:$str;
    -o-border-radius:$str;
    border-radius:$str;
}
@mixin animation($str){
    -webkit-animation: $str; /* Safari 4+ */
    -moz-animation:    $str; /* Fx 5+ */
    -o-animation:      $str; /* Opera 12+ */
    animation:         $str; /* IE 10+, Fx 29+ */
}





$themeColor : #d1e934;

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

html {
    font-family: 'Roboto Slab', serif;
}

@mixin borderBox(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[layout=row] {
    flex-direction: row;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

md-toolbar.md-default-theme {
    background-color: black;
}

section.jumbotron {
    margin-bottom: 30px;
    padding: 1px 30px;
    background-color: #5aadbb;
    text-align: center;

    color: white;

    h1 {
        font-size: 3em;
    }
}

.techs {
    display: flex;
    flex-flow: row wrap;

    md-card {
        width: 30%;

        img.pull-right {
            float: right;
            width: 100px;
        }
    }
}



.icar-toolbar-tools {
    max-height:44px;
    background: white;
    //color: black;
}
.icar-toolbar{
    min-height:44px;

}

.icar-wrap-text {
    white-space:nowrap;
}

//body{height:100%;}

//.main-div{height:93%;}

md-backdrop {
    top:44px;
}
md-sidenav {
    top:44px !important;
}

md-toolbar{border-bottom:1px solid #CCC;}

#vericalToolBar {
    background-color: rgb(255,255,255);
    width: 50px;
    //float:left;
}

#vericalToolBar md-icon {
    color: grey;
}

.side-nav-fonts{font-weight:normal; font-size:14px; padding-left:30px;}

//#toolBarTitle {
//  writing-mode: tb-rl;
//  //color: rgba(255,255,255,0.87);
//}

#centermap {
    //height: 590px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    //margin-top: -40px;
    //padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    position: relative;
    top:-273px;
    left:180px;
    z-index:1;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.M9kDrd{
    outline: none;
    cursor: pointer;
    padding: 0 12px 0 20px;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    height: 48px;
    font-weight: 500;
    opacity: .85;
    line-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: background-color .3s cubic-bezier(0,0,0.2,1);
}

.xyzabc:hover {
    //background: #FFDD00;
    color: #ff6666;
}

.xyzabc:visited {
    //background: #FFDD00;
    //color: #ff6666;
    text-decoration: none;
    decoration: none;
}

.xyzabc:active {
    //background: #FFDD00;
    color: #ff6666;
    text-decoration: none;
    decoration: none;
}

.xyzabc:link {
    //background: #FFDD00;
    color: black;
    text-decoration: none;
    decoration: none;
}
//.my-content {min-height:600px;}
.angular-google-map-container { height: 590px; }

/*
.cjGgHb .M9kDrd:hover, .M9kDrd:focus {
  background-color: #e7e7e7;
}
.M9kDrd.pWQY8d {
  color: #db4437;
}
*/

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.trPadding td{
    padding:1px 4px;
}


.trPadding td:nth-child(1) {
    white-space: nowrap;
}
.trPadding td:nth-child(1) ,
.trPadding td:nth-child(3) {
    white-space: nowrap;
}
.md-button.md-small {
    height: 25px;
    line-height: 25px;
    min-height: 25px;
    min-width:1%;
    vertical-align: top;
    font-size: 13px;
    padding: 0 10px;
    margin:5px;
}

/* Map info window css */

@mixin shadow($str){
    -webkit-box-shadow:$str;
    -moz-box-shadow:$str;
    box-shadow:$str;
}

@mixin transition($str){
    -webkit-transition: $str;
    -moz-transition: $str;
    -ms-transition: $str;
    -o-transition: $str;
    transition: $str;
}

.infoWBtn{
    margin:10px 10px!important;
    min-width:60px!important;
}
.infoWBtn:nth-child(1){
    margin-left:calc( 50% - 110px )!important;
}
.infoWHead td{
    padding-top:10px;
}
.infoWmiddle{
    padding-right:20px!important;
}

/* Left Tool bar */

.lefttoolbar{
    position: absolute;
    width:40px;
    z-index:1;
    left:10px;
    @include transition(0.5s);
    top:120px;
}
#mapCanvas{
    @include transition(0.5s);
    position: relative;
}
.lefttoolbar.active{
    left:0px;
}
.centermain{

}
#lefttoolbar_dashboard{
    float:left;
    width:90px;
    height:100%;
    @include shadow(0 0 10px rgba(0,0,0,0.4));
}

.ltb_item{
    width:100%;
    height:40px;
    position:relative;
    *{
        float:left;
    }
    .ltbi_button.independ{
        opacity: 1;
    }
    .ltbi_button.independ.active{
        opacity:1;
        i{
            background-color: rgba(0,0,0,0.4);
            color:$themeColor!important;
        }
    }
    .ltbi_button{
        opacity: 0.4;
        width:100%;
        height:100%;
        position:relative;
        z-index:10;
        outline: none!important;
        box-sizing: border-box;
        @include border-radius(5px 0 0 5px);
        //border-bottom: 1px solid rgba(0,0,0,0.05);
        .ltbi_icon{
            width: 100%;
            text-align: center;
            line-height: 40px;
            font-size: 120%;
            box-sizing: border-box;
            padding: 4px;
            position: relative;
            i{
                display: block;
                width: 100%;
                height:100%;
                line-height: 32px;
                text-align: center;
                @include border-radius(4px);
                color:#fff;
                float:none;
            }
            img{
                width: 86%;
                height: auto;
                margin: 7%;
                position:relative;
                z-index: 10;
            }
        }
        .ltbi_name{
            /* width: 100%; */
            text-align: center;
            font-size: 75%;
            color: #aaa;
            position: absolute;
            height: 40px;
            line-height: 40px;
            top: 0;
            left: 40px;
            background: rgba(0,0,0,0.35);
            overflow:hidden;
            color:#fff;
            width: 0;
            padding: 0;
            white-space: nowrap;
            @include border-radius(0 5px 5px 0px);
            span{
                font-size: 70%;
                margin-top: -28px;
                opacity: 0.7;
            }
        }
    }
    .ltbi_cont{
        width:300px;
        height:100%;
        position:absolute;
        background:#fff;
        top:0;
        left:-240px;
        z-index: 8;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,0.1);
        border-left:0;
        @include transition(0.3s);
        .md-input-cont{
            margin: 32px 6% 0 6%;
            width: 88%;
        }
    }
}
.ltb_item.active{
    .ltbi_button.active{
        opacity:1;
        i{
            background-color: rgba(0,0,0,0.4);
            color:$themeColor!important;
        }
    }
    .ltbi_button{
        opacity:1;
    }
}

.ltb_item-line{
    height: 2px;
    margin: 5px 10%;
    background: #fff;
    width: 80%;
    opacity: 0.5;
}

.ltb_item.active:hover{
    .ltbi_button{
        cursor:pointer;
        color:#fff;
        background-color: rgba(0,0,0,0.5);
        i{
            color:#fff;
        }
        .ltbi_name{
            width:auto;
            padding: 0 10px;
            //@include transition(0.5s);
        }
    }
    .ltbi_cont{
        left:90px;
    }
}
.ltb_item:hover{
    .ltbi_button.independ{
        cursor:pointer;
        color:#fff;
        background-color: rgba(0,0,0,0.5);
        i{
            color:#fff;
        }
        .ltbi_name{
            width:auto;
            padding: 0 10px;
            //@include transition(0.5s);
        }
    }
    .ltbi_cont.independ{
        left:90px;
    }
}

.ltb_item.active:active{
    .ltbi_button{
        i{
            font-size:90%;
            background:rgba(0,0,0,0.2);
        }
    }
}

.angular-google-map-container,
.mainHeader{
    @include transition(0.5s);
}
body{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

#mapCanvas.active{
    margin-left:90px;
}

.history-header2{
    md-input-container{
        margin:0;
    }
}

.fullHeight{ height: 100%; }


.mapDView{
    width: 100%;
    top:48px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

/* geo fence codes */

.geofence-cont{
    height:100%;
    width:100%;
}
.geo-cont,
.geo-leftbar{
    float:left;
    position: relative;
    width:20%;
    height:100%;
    .geo-lb-cont{
        overflow-y: auto;
        width: 100%;
        position: absolute;
        top:47px;
        left:0;
        bottom:0;
        right:0;
    }
}
.geo-cont{
    box-sizing:border-box;
    border-left:#ccc 1px solid;
    width:80%;
}
.geo-rep-item-head,
.geo-rep-item{
    width:100%;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    font-size: 85%;
    color: #555;
}
.geo-rep-item-head{
    text-align: center;
    font-size: 120%;
    position: relative;
    z-index: 100;
}

.geo-rep-item.active:hover,
.geo-rep-item.active{
    cursor:default;
    background-color: #788fcc;
    color:#fff;
}
.geo-rep-item:hover{
    cursor: pointer;
    background: #f4f4f4;
}

.geo-mul-back{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}

.geo-multiSel{
    width:200px;
    position: relative;
    z-index:100;
    .geo-ms-cont{
        min-width:120%;
        position: absolute;
        left:0;
        top:90%;
        border-top:1px solid #ddd;
        @include shadow(2px 5px 8px rgba(0,0,0,0.3));
        //max-height:400px;
        overflow-y: auto;
        background-color: #fff;
        h3{
            font-size:13px!important;
            padding-top:3px;
        }
        .md-checkbox {
            width: 24px;
            margin-left: 3px;
            margin-right: 10px;
            margin-top: 12px;
        }
        md-list-item.md-2-line,
        md-list-item.md-2-line > .md-no-style {
            height: auto;
            min-height: 30px!important;
        }
        .md-list-item-text{
            margin:4px 10px!important;
        }
        md-list-item .md-list-item-inner > md-checkbox{
            margin:0!important;
        }
        md-list{
            max-height: 250px;
            overflow-y: auto;
            margin-bottom:40px;
        }
        .geo-ms-controls{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: #ece6e6;
            padding: 0 16px;
            box-sizing: border-box;
            overflow: hidden;
        }
    }
}

.geo-table{
    width:100%;
    height: 100%;
    background:#fff;
    font-family: gotham;
    tr{
        border-bottom: 1px solid rgba(0,0,0,0.2);
        background-color: transparent!important;
        th,
        td{
            height:35px;
            padding:0 20px;
            line-height:35px;
            font-size:90%;
            text-align:left;
            border:0;
        }
        th{
            margin-bottom:10px;
            cursor:pointer;
        }
        td{
            min-height:30px;
            height:auto;
            line-height: 120%;
            padding: 10px 10px;
        }
    }
    thead{
        tr{
            th{
                padding-top:5px;
                padding-bottom:5px;
                height:45px;
                background:#fff;
                border: none;
                border-bottom:1px solid #ddd;
                //@include shadow(0 0px 7px rgba(0,0,0,0.2));
            }
        }
    }
    tr:hover{
        cursor:default;
        background-color: rgba(0,0,0,0.02)!important;
    }
    tr span:hover{
        cursor:pointer;
    }
}
.geoc-body{
    width:100%;
    position: absolute;
    top:70px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height:100%;
    overflow-y:auto;
}
.toggleButton{
    cursor: pointer;
    padding: 0 22px;
    background: #f7f7f7;
    height: 35px;
    line-height: 34px;
    margin: 0 10px;
    border: 1px solid #d8d3d3;
    border-radius: 4px;
    font-size: 90%;
    position:relative;
    padding-left:30px;
    overflow:hidden;
    @include transition(0.2s);
    md-checkbox{
        left: 0px!important;
        width: 100%!important;
        height: 100%!important;
        position: absolute!important;
        top: 0px!important;
        opacity: 0!important;
    }
}
.toggleButton:after{
    content: '';
    opacity: 0.4;
    display: block;
    position: absolute;
    width: 10px;
    height: 21px;
    background: #f5f5f5;
    top: 6px;
    left: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
    @include transition(0.3s);
}

.toggleButton:hover{
    cursor: pointer;
}

.toggleButton.active{
    background: #e9eae3;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.28);
    border-color: #fffefe;
}


.toggleButton.active:after {
    opacity: 1;
    background: #d1e934;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

@mixin transform($str){
    -webkit-transform:$str;
    -moz-transform:$str;
    -o-transform:$str;
    transform:$str;
}


.ltb_button{
    position: absolute;
    top: 50px;
    right: -41px;
    width: 30px;
    height: 30px;
    padding:4px;
    text-align: center;
    line-height: 50px;
    outline: none!important;
    .ltbb_bar{
        width: 80%;
        float: left;
        position: absolute;
        height: 3px;
        margin:2px 10%;
        border-radius:2px;
        background: #fff;
        @include transition(0.3s);
    }
    .ltbb_bar.-bar1{@include transform(translateY(-7px))}
    .ltbb_bar.-bar3{@include transform(translateY(7px))}
}
.ltb_button:hover{
    cursor: pointer;
}
.ltb_button.active{
    .ltbb_bar.-bar1{@include transform(rotate(45deg))}
    .ltbb_bar.-bar2{@include transform(scale(0,1))}
    .ltbb_bar.-bar3{@include transform(rotate(-45deg))}
}

.redBattery,
.redBattery *{
    color:#ff3838!important;
}
.greenBattery,
.greenBattery *{
    color:#2bd62a!important;
}
#pac-input{
    position: absolute;
    width: 170px;
    height: 28px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    top: 10px;
    left: 119px;
    outline: none;
    border: none;
    line-height: 28px;
    padding: 0 10px;
    font-size:15px;
    color:#555;
    box-sizing:border-box;
    margin-top: 10px;
    @include transition(width 0.4s);
}
#pac-input:focus{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.int-dialog{
    position: fixed;
    display: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    .id-background{
        position: absolute;
        top:0;left: 0;right: 0;bottom: 0;
    }
    .id-container{
        width: 94%;
        height: 98%;
        top:1%;
        left: 3%;
        background: #fff;
        @include border-radius(6px);
        overflow: hidden;
        position: relative;
        z-index: 10;
        .id-header{
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: $themeColor;
            text-align: center;
        }
        .id-body{
            position: absolute;
            top:40px;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            md-tab-item{
                padding:0;
                a{
                    padding:12px 24px;
                    display:block;
                    float: left;
                    text-decoration: none!important;
                    color:inherit!important;
                }
                a:hover{
                    color:inherit!important;
                }
            }
        }
    }
}

.mapDHeader{
    width: 100%;
    height: 50px;
    position: relative;
}
.mapDBody{
    width: 100%;
    height: 50px;
    position: absolute;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
}


.int-dialog .angular-google-map-container{
    position: absolute;
    width: 100%;
    top: 70px;
    left:0;
    right:0;
    bottom: 0;
    height: auto;
}
.md-scroll-mask{
    //z-index: 9999!important;
}
.md-select-menu-container{
    z-index: 10000!important;
}


// Right nave CSS

.rightNavTabSet{
    width:100%;
    height: 100%;
    md-pagination-wrapper{
        width:100%!important;
    }
    md-tab{
        width:100%;
    }
    md-tab-item{
        width:50%;
        max-width:50%;
    }
    .rnt_head{
        width: 100%;
        height:50px;
        float: left;
        border:1px solid #f3f3f3;
        border-left: 0;
        border-right: 0;
        .rnth_item{
            height:100%;
            width:33.3333%;
            float:left;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            md-icon{
                width:100%;
                height:100%;
                text-align: center;
                line-height:50px;
            }
        }
        .rnth_item.active:hover,
        .rnth_item.active{
            cursor: default;
            background: $themeColor;
        }
        .rnth_item:hover{
            cursor: pointer;
            background: #f6f6f6;
        }
    }
}

$rnt_label_height : 35px;

.expansionNav{
    width: 100%;
    float: left;
    overflow-y: scroll;
    position: absolute;
    background: #fff;
    top: 50px;
    bottom: 0px;
    left: 0;
    right: 0;
    padding:6px 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *{
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .en_main,
    .en_mid,
    .en_last{
        width: 100%;
        @include transition(0.4s);
        position: relative;
        overflow: hidden;
        @include border-radius(4px);
        .en_label{
            @include border-radius(4px);
            border:1px solid #eee;
            margin:1px 0;
            height: $rnt_label_height!important;
            line-height: $rnt_label_height!important;
            padding:0 2px 0 10px;
            width: 100%;
            font-size: 80%;
            color:#444;
            background: #e8e8e8;
        }
        .en_label:hover{
            cursor: pointer;
            .enl_add{
                background: rgba(0,0,0,0.2);
            }
        }
    }
    .en_main{
        .en_last{
            height: 35px;
            background: #f5f5f5;
            border:1px solid #eee;
            margin:1px 0;
            padding:0!important;
            .en_head{
                width: 100%;
                height: 35px;
                cursor: pointer;
                background: #E1F5FE;
                font-size:80%;
                color:#444;
                line-height:35px;
                padding-left: 10px;
                padding-right: 2px;
                @include transition(0.4s);
            }
            .en_head.resolvedHeader{
                background: #2ecc71;
                color:#fff!important;
                .enl_time{
                    background: #fff!important;
                    color:#2ecc71!important;
                }
            }
            .en_body{
                width: 100%;
                font-size: 80%;
                color:#555;
                padding:10px 5px;
                .enb_full,
                .enb_half{
                    min-width: 50%;
                    padding-bottom:10px ;
                    i{
                        font-size:120%;
                        padding:0 4px;
                    }
                }
                .enb_full{
                    width:100%;
                }
                textarea{
                    width: 85%;
                    height: 60px;
                    outline:none;
                    resize:none;
                    border:1px solid #ddd;
                    padding:6px;
                }
                .enb_button_list{
                    width: 15%;
                    height: 60px;
                    button{
                        outline:none;
                        border: none;
                        width: 88%;
                        height: 28px;
                        font-size:90%;
                        margin:0px 0 2px 12%;
                        @include border-radius(4px);
                        text-align: center;
                        padding:0;
                        i{
                            width: 100%;
                            text-align: center;
                        }
                    }
                    button:nth-child(2){
                        outline:none;
                        border: none;
                        width: 88%;
                        height: 28px;
                        font-size:90%;
                        margin:2px 0 0px 12%;
                    }
                }
            }
        }
        .en_last.active{
            height: 160px;
        }
        .en_last.active.noExit{
            height: 135px;
        }
        .enl_time{
            background: #777;
            padding: 0 10px;
            position: absolute;
            color: #fff;
            z-index: 2;
            top: 0px;
            right: 25px;
        }
    }
    .en-wrapper{
        float: left;
        position: relative;
        width: 100%;
        padding-right: 15px;
    }
    .en-wrapper:after{
        content: '';
        display: block;
        float: left;
        right: 6px;
        position: absolute;
        width: 2px;
        top: 3px;
        bottom: 3px;
        background: #c5c5c5;
    }
    .en-semi-closed{
        height: 37px!important;
        padding-top:0!important;
        padding-bottom:0!important;
    }
    .en-closed{
        height: 0!important;
        margin-top:0!important;
        margin-bottom:0!important;
        padding-top:0!important;
        padding-bottom:0!important;
        border:0!important;
    }

    .enl_item{
        float: right;
        margin: 7px 2px;
        height: 20px;
        min-width: 20px;
        @include border-radius(14px);
        line-height: 20px;
        text-align: center;
        font-size:80%;
        padding: 0 3px;
        color:#333;
        background:rgba(0,0,0,0.1);
        @include transition(0.3s);
        i{
            width: 100%;
            height:100%;
            line-height: 22px;
            text-align: center;
        }
    }
    .enl_count{
        background: #3498db;
        color:#fff;
    }
}

$green : #2ecc71;
$blue : #3498db;
$red : #e87468;
$yellow : #f1c40f;
$grey : #b3b3b3;
.redBG{ background: $red!important; color:#fff!important;;}
.greenBG{ background: $green!important;  color:#fff!important;;}
.blueBG{ background: $blue!important;  color:#fff!important;;}
.yellowBG{ background: $yellow!important;  color:#fff!important;;}
.greyBG{ background:$grey !important;  color:#fff!important;;}

.redColor{ color:$red!important; }
.greenColor{color: $green!important; }
.blueColor{ color: $blue!important; }
.yellowColor{ color: $yellow!important; }

.coolbar::-webkit-scrollbar{ width: 10px; }
.coolbar::-webkit-scrollbar-button{}
.coolbar::-webkit-scrollbar-track{}
.coolbar::-webkit-scrollbar-track-piece{}
.coolbar::-webkit-scrollbar-thumb{ background: #bbb;}
.coolbar::-webkit-scrollbar-corner{}
.coolbar::-webkit-resizer{}

button{
    position: relative;
}
.spinner{
    display: block;
    top: 50%;
    left: 50%;
    margin-left:-9px;
    margin-top:-9px;
    position: absolute;
    width: 18px;
    height: 18px;
    border:2px solid #fff;
    border-bottom:0;
    @include border-radius(50%);
    animation-name: rotateAnim;
    -o-animation-name: rotateAnim;
    -ms-animation-name: rotateAnim;
    -webkit-animation-name: rotateAnim;
    -moz-animation-name: rotateAnim;
    animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    -ms-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}


@keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-ms-keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.opacity_0{ opacity:0; }

.navPointer{
    position: absolute;
    top:100%;
    height: 2px;
    background-color: red;
    width: 100px;
    left: 0;
    margin-top:-2px;
}


.shadow-border{
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.-sp-blue{
    border-color:$blue;
}
.-sp-big{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left:-15px;
}
.userPop-cont{
    padding:0;
    @include border-radius(3px);
    *{
        float: left;
    }
}

.userPopp{
    width: 300px;
    @include borderBox();
    font-size:80%;
    .up-header{
        width:100%;
        padding:0 0 0 10px;
        font-family: 'gotham-b';
        line-height:36px;
        background-color: $blue;
        color:#fff;
        font-size: 110%;
        .up-h-close{
            float:right;
            width: 22px;
            height: 22px;
            background-color: rgba(0,0,0,0.1);
            margin:7px;
            @include border-radius(3px);
            i{
                line-height: 22px;
                text-align: center;
                width: 100%;
                font-size: 80%;
            }
        }
        .up-h-close:hover{
            cursor: pointer;
            background-color: rgba(0,0,0,0.3);
        }
    }
    .up-cont{
        width:100%;
        padding:10px;
        .up-name{
            width: 100%;
        }
        .up-sub{
            width:100%;
            font-size: 130%;
            color:$blue;
            font-family: gotham-b;
        }
    }
    .up-footer{
        width:100%;
        padding:10px 10px;
        border-top:1px solid #ddd;
    }
    .up-btn{
        cursor: pointer;
        float: left;
        margin: 0 3px;
        background: #fefefe;
        border: 1px solid #ddd;
        @include border-radius(3px);
        line-height:30px;
        padding:0 8px;
    }
    .up-btn:hover{
        border-color: #bbb;
    }
    .up-btn.-logoutBtn{
        float: right;
    }
}


.immobDialog{
    padding:20px;
    width: 100%;
    .imd-head{
        font-family: gotham-b;
    }
    table{
        margin-top:15px;
        padding:0 10px;
        td{
            padding:0;
            font-size:80%;
            line-height:22px;
        }
        td:nth-child(1){
            width:100px;
        }
    }
}

// Custom Marker

.customMarker{
    //background:rgba(50,0,200,0.8);
    width:12px;
    height:12px;
    //border:2px solid #333;
    @include border-radius(100%);
    z-index: 2;
    *{
        float: left;
    }
    .overlayNotifier{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background: red;
        opacity: 0;
        @include border-radius(100%);
    }
    .overlayNotifier:after{
        content: '';
        display: block;
        float: left;
        position:absolute;
        top: 0;
        left: 0;
        width: 80%;
        height:80%;
        margin:10%;
        opacity: 0;
        border:1px solid blue;
        @include border-radius(100%);
        @include animation(notiDrop2 1s infinite);
    }
    .overlayNotifier.animate{
        @include animation(notiDrop 1s infinite);
    }
}

@-webkit-keyframes notiDrop {
    0% { opacity: 0.5;@include transform(scale(0)); }
    100%   { opacity: 0; @include transform(scale(20));}
}
@-moz-keyframes notiDrop {
    0% { opacity: 0.5;@include transform(scale(0)); }
    100%   { opacity: 0; @include transform(scale(20));}
}
@-o-keyframes notiDrop {
    0% { opacity: 0.5;@include transform(scale(0)); }
    100%   { opacity: 0; @include transform(scale(20));}
}
@keyframes notiDrop {
    0% { opacity: 0.5;@include transform(scale(0)); }
    100%   { opacity: 0; @include transform(scale(20));}
}

@-webkit-keyframes notiDrop2 {
    0% { opacity: 1;@include transform(scale(0.5)); }
    100%   { opacity: 1; @include transform(scale(1));}
}
@-moz-keyframes notiDrop2 {
    0% { opacity: 1;@include transform(scale(0.5)); }
    100%   { opacity: 1; @include transform(scale(1));}
}
@-o-keyframes notiDrop2 {
    0% { opacity: 1;@include transform(scale(0.5)); }
    100%   { opacity: 1; @include transform(scale(1));}
}
@keyframes notiDrop2 {
    0% { opacity: 0.8;@include transform(scale(0.5)); }
    100%   { opacity: 0.4; @include transform(scale(1));}
}

.customMarker:hover {
    z-index: 3;
}
.vehicleNumberWindow{
    float: left;
    position: absolute;
    left: 21px;
    top:-25px;
    @include shadow(0 1px 4px rgba(0,0,0,0.4));
    background-color: #fff;
    font-size:100%;
    padding:0 20px 0 8px;
    height:24px;
    line-height:24px;
    @include border-radius(2px);
    z-index: 2;
    input{
        width: 75px;
        height: 24px;
        margin: 0;
        font-size:100%;
    }
    .vnw-close{
        width: 14px;
        height: 14px;
        top:4px;
        font-size: 150%;
        color:#ccc;
        right:5px;
        position: absolute;
        line-height: 14px;
        text-align: center;
    }
    .vnw-close:hover{
        color: #000;
        cursor: pointer;
    }
}
.vehicleNumberWindow:after{
    content: '';
    display: block;
    float: left;
    position: absolute;
    left:-4px;
    top:8px;
    background: #fff;
    width:8px;
    height: 8px;
    @include shadow(-2px 2px 3px rgba(0,0,0,0.5));
    @include transform(rotate(45deg));
}

.historyMap .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
    bottom:150px!important;
}
//.gmnoprint div[draggable="false"],
div[draggable="false"] a[title="Report errors in the road map or imagery to Google"],
div[draggable="false"] a[title="Click to see this area on Google Maps"],
div[style="z-index: 1000001; position: absolute; right: 24px; bottom: 0px; width: 121px;"].gmnoprint,
div[draggable="false"] div[style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"],
div.gmnoprint div[draggable] div span,
.gm-style a[target="_blank"]{
    display: none!important;
}



.control-panel {
    width:100%;
    left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.6);
    @include shadow(0 -2px 1px rgba(0,0,0,0.2));
}
.icar-slider .md-sign{
    display:none;
}

.marker-details {
    background: rgba(163, 204, 255, 0.7);
    position: absolute;
    top: -55px;
    left:30px;
    font-size: 12px;
}
.lefttoolbar {
    background: rgba(163, 204, 255, 0.7) !important;
}


.historGraphContainer{
    width: auto;
    height: 20px;
    position: absolute;
    left: 212px;
    bottom: 0;
    pointer-events: none;
    right: 139px;
    .dataLine{
        height: 6px;
        width: 1%;
        position: absolute;
        top:7px;
        left: 0;
        @include transition(0.1s);
        background: rgb(2, 217, 69);
    }
    .dataLine:hover{
        height: 10px;
        cursor: pointer;
        background: rgba(6, 209, 75, 1);
    }
}


