<!DOCTYPE html>

<style>
    md-dialog {
        width: 50%;
    }

    .img-logo {
        margin: 0 auto;
        display: block;
    }
    .error{
        color:#f00;
    }
</style>

<!--<script type="text/ng-template" id="login_dialog.html">-->
<md-dialog aria-label="authLoginDialog">
    <md-dialog-content>
        <img ng-src="assets/logo.png" height="120" class="img-logo md-card-image" alt="Intellicar">
        <div>
            <span class="error">{{errorMsg}}</span>
            <md-input-container class="md-block md-accent">
                <label>Username</label>
                <input type="text" ng-model="username" ng-change="onChangeCredentials()" icar-keypress="login()"/>
            </md-input-container>
            <div flex layout-align="center center">
                <span style="color: red;font-size:13px;" layout-align="center center" flex>{{message}}</span>
            </div>
            <md-input-container class="md-block md-accent">
                <label>Password</label>
                <input type="password" ng-model="password" icar-keypress="login()" ng-change="onChangeCredentials()"/>
            </md-input-container>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <div flex>
            <md-button class="md-accent" ng-click="login()">Login</md-button>
            <!--<md-button class="md-raised md-primary" ng-show="isAuthed()" ng-click="logout()">Logout</md-button>-->
        </div>
    </md-dialog-actions>
</md-dialog>
<!--//</script>-->

