<!DOCTYPE html>


    <md-dialog aria-label="editContactDialog" ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" style="width:400px;">
                <md-input-container md-no-float  class="inputText">
                    <input type="text" ng-model="username"  placeholder="Name"/>
                </md-input-container>
                <md-input-container md-no-float class="inputText">
                    <input type="text" ng-model="password"  placeholder="Password"/>
                </md-input-container>
                <span style="color:red;">{{message}}</span>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div flex>
                <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
                <md-button class="md-raised md-primary" ng-show="isAuthed()" ng-click="logout()">Logout</md-button>
            </div>
        </md-dialog-actions>
    </md-dialog>

