<!DOCTYPE html>


<md-dialog aria-label="editContactDialog" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container md-no-float  class="inputText">
                <label>Username</label>
                <input type="text" ng-model="username"/>
            </md-input-container><br/>
            <md-input-container md-no-float class="inputText">
                <label>Password</label>
                <input type="text" ng-model="password"/>
            </md-input-container>
            <span style="color: red;">{{message}}</span>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <div flex>
            <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
            <md-button class="md-raised md-primary" ng-show="isAuthed()" ng-click="logout()">Logout</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>

