<!DOCTYPE html>

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Icon" ng-click="HeaderController.toggleItemsList()">
            <md-tooltip>Left menu</md-tooltip>
            <md-icon md-font-library="material-icons">dehaze</md-icon>
        </md-button>
        <h2>
            <span>Logo</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="notifications" ng-click="HeaderController.toggleRightSidebar()">
            <md-tooltip>Alerts</md-tooltip>
            <md-icon md-font-library="material-icons">notifications</md-icon>

        </md-button>
        <md-button class="md-icon-button" aria-label="User">
            <md-tooltip>User</md-tooltip>
            <md-icon md-font-library="material-icons">face</md-icon>
        </md-button>
    </div>
</md-toolbar>
