<style>
    .error-msg {
        color: #f00;
        font-size: 12px;
        min-height: 20px;
    }
</style>

<span class="error-msg">{{vm.errorMsg}}</span><br/>
<div class="dh_container">
    <div class="dhc_name">Last location report</div>
    <md-input-container class="container-margin" >
        <label>Select Area</label>
        <!--<md-select ng-model="vehicle" ng-model-options="{trackBy: '$value.vehicleno'}">-->
        <md-select ng-model="vm.selectedGroup" ng-model-options="{trackBy: '$value.assetpath'}">
            <md-option ng-repeat="group in vm.groups"
                       ng-value="group" >
                {{group.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <a class="tc_button waves-effect waves-light btn raised" ng-click="vm.download()" ng-disabled="vm.showLoading">
        DOWNLOAD
    </a>
</div>


<div class="progress" ng-if="vm.showLoading">
    <div class="indeterminate"></div>
</div>
