<!DOCTYPE html>

<!--<script type="text/ng-template" id="fields-template.html">-->

    <!--<div> <h1>HTML Content </h1></div>-->

    <!--<div ng-bind-html="fields"></div>-->
<!--</script>-->

<md-expansion-panel md-component-id="{{details.order}}" flex>
    <md-expansion-panel-collapsed ng-click="getCurrentData(details.order)" flex>
        <div class="md-title">{{details.section}}</div>
        <div class="md-summary">demo</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded flex>
        <md-expansion-panel-header ng-click="collapsePanel(details.order)" md-no-sticky="true" flex>

            <div class="md-title">{{details.section}}</div>
            <div class="md-summary"></div>

            <md-expansion-panel-icon></md-expansion-panel-icon>
        </md-expansion-panel-header>

        {{selectedIndex}}

        <md-expansion-panel-content flex id="">
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                <md-tab ng-repeat="tab in tabs"
                        ng-disabled="tab.disabled"
                        label="{{tab.title}}"
                        md-on-select="activeTab(selectedIndex)">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <div bind-html-compile="tab.content"></div>
                    </div>
                </md-tab>
            </md-tabs>
        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky="true" flex>
            <div flex></div>
            <md-button class="md-warn" ng-click="save();">Save</md-button>
            <md-button class="md-warn" ng-click="discard(details.len)">Discard</md-button>
            <md-button class="md-fab md-mini" aria-label="Edit" ng-click="edit()">
                <md-icon class="material-icons md-mini">mode_edit</md-icon>
                <md-tooltip md-direction="bottom">
                    Edit
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="delete" ng-click="delete(details.id)">
                <md-icon class="material-icons md-mini">delete</md-icon>
                <md-tooltip md-direction="bottom">
                    Delete
                </md-tooltip>
            </md-button>
        </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
</md-expansion-panel>

