<!DOCTYPE html>

<!--<md-sidenav md-component-id="left" class="md-whiteframe-z2 md-sidenav-left" md-disable-backdrop="false">-->
    <!--<section>-->
        <!--<md-toolbar md-theme="grey" class="md-hue-1">-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h5>Notifications</h5>-->
            <!--</div>-->
        <!--</md-toolbar>-->
    <!--</section>-->
    <!--<section>-->
        <!--{{assetTree.data.data[0].name}}-->
    <!--</section>-->
<!--</md-sidenav>-->

<!--<div class="ldiv" ng-show="showLeftnav">-->
    <!--<div layout="column">-->
        <!--&lt;!&ndash;<md-button class="md-raised" aria-label="Groups">Groups</md-button>&ndash;&gt;-->
        <!--&lt;!&ndash;<md-button class="md-raised" aria-label="Vehicles">Vehicles</md-button>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

<div ui-view="leftnav"></div>