<!DOCTYPE html>

<!--<md-tabs>-->
    <!--<md-tab ng-click="tabClick('myhistory')"><md-tab-label>History</md-tab-label></md-tab>-->
    <!--<md-tab ng-click="tabClick('mygeofence')"><md-tab-label>Geofence</md-tab-label></md-tab>-->
    <!--<md-tab ng-click="tabClick('alarm')"><md-tab-label>Alarm Reports</md-tab-label></md-tab>-->

    <!--&lt;!&ndash;<md-tab ui-sref="home.myhistory">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-tab-label>History</md-tab-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-tab>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-tab ui-sref="home.mygeofence">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-tab-label>Geofence</md-tab-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-tab>&ndash;&gt;-->

<!--</md-tabs>-->

<!--<div ui-view="dialogview"></div>-->

<!--<scripiew"></div>
/ng-template" id="myhistory.html">-->
    <!--<div>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
        <!--myhistory<br>-->
    <!--</div>-->
<!--</script>-->

<!--<script type="text/ng-template" id="mygeofence.html">-->
    <!--<div>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
        <!--mygeofence<br>-->
    <!--</div>-->
<!--</script>-->


