<!DOCTYPE html>

<div class='control-panel' ng-class="{'active':gotHistory()}" layout="row" flex="100" >
<!--<div class='control-panel'  layout="row" flex="100">-->

    <div class="md-padding"></div>
    <div class="marker-details" flex>
        <span>Time : {{tracePointGpsTime | date : 'd MMM, h:mm:ss a'}}</span><br/>
        <span>Odometer : {{tracePointOdometer}} km </span><br/>
        <span>Speed : {{tracePointSpeed}} kmph</span><br/>
        <span>Ignition : <span ng-show="ignStatus">ON</span>  <span ng-show="!ignStatus">OFF</span> </span>
    </div>

    <md-button class="md-fab md-primary md-mini play-pause-btns"  ng-click="goSlow()">
        <md-icon class="icon-font" md-font-library="material-icons">fast_rewind</md-icon>
        <md-tooltip>Go Slow</md-tooltip>
    </md-button>

    <md-button class="md-fab md-primary md-mini play-pause-btns" ng-show="play" ng-click="playAnimation()">
        <md-icon class="icon-font" md-font-library="material-icons">play_arrow</md-icon>
        <md-tooltip>Play</md-tooltip>
    </md-button>

    <md-button class="md-fab md-primary md-mini play-pause-btns" ng-hide="play" ng-click="pauseAnimation()">
        <md-icon class="icon-font" md-font-library="material-icons">pause</md-icon>
        <md-tooltip>Pause</md-tooltip>
    </md-button>

    <md-button class="md-fab md-primary md-mini play-pause-btns" ng-click="fastForward()">
        <md-icon class="icon-font" md-font-library="material-icons">fast_forward</md-icon>
        <md-tooltip md-direction="top">Go Fast</md-tooltip>
    </md-button>

    <md-button class="md-fab md-primary md-mini play-pause-btns" ng-click="stopAnimation()">
        <md-icon class="icon-font" md-font-library="material-icons">stop</md-icon>
    </md-button>

    <div class="md-padding"></div>

    <md-slider class="md-accent icar-slider" md-discrete ng-model="slider"
               step="1" min="{{initialSliderTime}}" ng-change="onChangeSlider()"
               max="{{finalSliderTime}}" aria-label="timeline" flex>
    </md-slider>

    <div class="md-padding"></div>

    <md-button class="md-fab md-primary md-mini play-pause-btns"  ng-click="moveOneStep('backward')">
        <md-icon class="icon-font" md-font-library="material-icons">remove</md-icon>
    </md-button>

    <md-button class="md-fab md-primary md-mini play-pause-btns popover"
               data-content="Move 1 step"
               ng-click="moveOneStep('forward')">
        <md-icon class="icon-font" md-font-library="material-icons">add</md-icon>
    </md-button>
    <div class="md-padding"></div>

    <br/><br/>


    <div class="historGraphContainer">
        <!--<div class="dataLine" ng-repeat="data in sampleData" ng-if="data.ignition"-->
             <!--style="width:{{graphWRatio}}%; left:{{($index * graphWRatio)}}%">-->
        <!--</div>-->
        <!---->

        <canvas id="historyGraphCanvas" style="height:100%; width: 100%;">
    </div>
</div>

