<!DOCTYPE html>

<md-dialog aria-label="dialog">
    <md-dialog-content>
        <div class="div-area immobDialog" layout="column" layout-align="center center">
            <div class="imd-head">
                <span ng-class="{'redColor':mobilistatus,'greenColor':!mobilistatus}">{{msg}}</span> <br>
                <span>{{notify}}</span>
            </div>
            <table>
                <tr>
                    <td> Vehicle No </td>
                    <td>{{vehicleno}}</td>
                </tr>
                <tr>
                    <td> Device ID </td>
                    <td>{{deviceid}}</td>
                </tr>
            </table>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <div flex layout="row" layout-align="space-around center">
            <md-button class="md-raised md-primary" ng-if="!commandSent" ng-click="okImmobilize()" style="margin-left:-8px;">Yes</md-button>
            <md-button class="md-raised md-primary" ng-if="!commandSent" ng-click="cancelImmobalize()">No</md-button>
            <md-button class="md-raised md-primary" ng-if="commandSent" ng-click="cancelImmobalize()">OK</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
