<div layout="column">
    <md-table-container>
        <table md-table md-row-select multiple>
            <tbody md-body>
            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Car Number</strong></td>
                <td md-cell>{{parameter.clickedMarker.title}}</td>
            </tr>
            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Last seen at</strong></td>
                <td md-cell>{{parameter.clickedMarker.timestamp}}</td>
            </tr>
            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Odometer</strong></td>
                <td md-cell>{{parameter.clickedMarker.odometer}}</td>
            </tr>

            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Speed</strong></td>
                <td md-cell>{{parameter.clickedMarker.speed}}</td>
            </tr>

            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Ignition Status</strong></td>
                <td md-cell>{{parameter.clickedMarker.ignitionstatus}}</td>
            </tr>
            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Mobility Status</strong></td>
                <td md-cell>{{parameter.clickedMarker.mobilistatusStr}}</td>
            </tr>
            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Car Battery</strong></td>
                <td md-cell>{{parameter.clickedMarker.carbattery}}</td>
            </tr>
            <tr md-row md-select-id="name" md-auto-select>
                <td md-cell><strong>Device Battery</strong></td>
                <td md-cell>{{parameter.clickedMarker.devbattery}}</td>
            </tr>
            <!--<tr md-row md-select-id="name" md-auto-select>-->
            <!--<td md-cell><strong>Satellites</strong></td>-->
            <!--<td md-cell>{{parameter.clickedMarker.nosatellites}}</td>-->
            <!--</tr>-->
            <!--<tr md-row md-select-id="name" md-auto-select>-->
            <!--<td md-cell><strong>Direction</strong></td>-->
            <!--<td md-cell>{{parameter.clickedMarker.direction}}</td>-->
            <!--</tr>-->
            <!--<tr md-row md-select-id="name" md-auto-select>-->
            <!--<td md-cell><strong>Altitude</strong></td>-->
            <!--<td md-cell>{{parameter.clickedMarker.altitude}}</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </md-table-container>

    <div layout="row">
        <md-button class="md-primary"
                   ng-click="parameter.immoblize(parameter.clickedMarker.mobilistatus)">
        <span ng-show="parameter.clickedMarker.mobilistatus">
            Immoblize
        </span>
            <span ng-hide="parameter.clickedMarker.mobilistatus">
           Moblize
        </span>
        </md-button>

        <md-button class="md-raised md-accent" ng-click="parameter.showHistory()">
            History
        </md-button>
    </div>
</div>
