<div layout="column" >
    <div class="info-w-header">
    </div>
    <md-table-container style="min-width:300px; min-height: 110px; max-width:300px; position: relative; overflow: hidden; max-height:110px;">
        <table md-table md-row-select multiple class="trPadding">
            <tbody md-body>
            <tr md-row md-select-id="carnumber" class="infoWHead" md-auto-select>
                <td md-cell><strong>Car Number</strong></td>
                <td md-cell colspan="3">{{parameter.clickedMarker.title}}</td>
            </tr>
            <tr md-row md-select-id="timestamp" md-auto-select>
                <td md-cell><strong>Last seen at</strong></td>
                <td md-cell colspan="3">{{parameter.clickedMarker.timestamp | date : 'dd MMM yyyy - h:mm a'}}</td>
            </tr>
            <tr md-row md-select-id="odometer" md-auto-select>
                <td md-cell><strong>Odometer</strong></td>
                <td md-cell class="infoWmiddle">{{parameter.clickedMarker.odometer}}</td>
                <td md-cell><strong>Speed</strong></td>
                <td md-cell>{{parameter.clickedMarker.speed}}</td>
            </tr>

            <tr md-row md-select-id="ignitionstatus" md-auto-select>
                <td md-cell><strong>Ignition</strong></td>
                <td md-cell class="infoWmiddle">{{parameter.clickedMarker.ignitionstatus ? 'On' : 'Off'}}</td>
                <td md-cell><strong>Mobility</strong></td>
                <td md-cell>{{parameter.clickedMarker.mobilistatusFilter}}</td>
            </tr>
            <tr md-row md-select-id="carbattery" md-auto-select>
                <td md-cell>
                    <strong>Car Battery</strong> 
                </td>
                <td md-cell class="infoWmiddle" 
                    ng-class="{'redBattery' : parameter.clickedMarker.carbattery < 9.5 ">{{parameter.clickedMarker.carbattery}}</td>
                <td md-cell><strong>Device Battery</strong>  
                </td>
                <td md-cell 
                    ng-class="{'redBattery' : parameter.clickedMarker.devbattery < 3.55 }">{{parameter.clickedMarker.devbattery}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <div layout="row">
        <md-button class="infoWBtn md-raised md-small infoWBtn"
                   ng-click="parameter.immoblize(parameter.clickedMarker.mobilistatus)">
            <span ng-show="parameter.clickedMarker.mobilistatus"> Immoblize </span>
            <span ng-hide="parameter.clickedMarker.mobilistatus"> Moblize </span>
        </md-button>

        <md-button class="md-raised md-accent md-small infoWBtn" ng-click="parameter.showHistory()">
            History
        </md-button>
    </div>
</div>
